@-webkit-keyframes playblink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes playblink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}
/*
*Homepage
*/

.flix-logo img {
  width: 15%;
  height: 45px;
  padding-top: 1%;
  padding-left: 2%;
}
a {
  text-decoration: none;
  color: white;
}
.flix-wrapper {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/cdara/movie-box/gh-pages/_images/bg-flix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 100%;
}
.flix-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.signin-btn {
  position: absolute;
  text-align: center;
  font-size: 12px;
  background: red;
  border-radius: 6px;
  padding: 7px;
  top: 30%;
  right: 20px;
  width: 50px;
}
.signin-btn:hover {
  background: #dc143c;
  cursor: pointer;
}
.flix-join {
  position: relative;
  top: 20%;
  font-size: 350%;
  padding-left: 20px;
}
.flix-promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.play-icon {
  -webkit-animation: playblink 1s;
  animation: playblink 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 0;
  height: 0;
  padding-top: 42px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid red;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cnt-text {
  padding-left: 5px;
  font-size: 40%;
  font-weight: bold;
}
.join-btn {
  background-color: red;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  display: inline;
  padding: 15px;
  margin-left: 5px;
  text-decoration: none;
}
.join-btn:hover {
  background: #dc143c;
  cursor: pointer;
}
/**
*Movieflix plans and price section
*/

.flix-plans {
  position: relative;
  background-color: #111111;
  height: 90%;
}
.plans-nav {
  text-align: center;
}
.plans-menu {
  margin: 1%;
  display: inline;
}
.plans-menu img {
  position: inherit;
  padding-top: 6%;
  padding-right: 8%;
  padding-left: 8%;
  height: 100px;
  width: 120px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.plans-menu img:hover {
  cursor: pointer;
}
.plans-info {
  position: relative;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-top: 1%;
}
.plans-info img {
  height: 30%;
  width: 30%;
}
#any-device-info img {
  width: 75%;
  height: 50%;
}
#price-info {
  padding-left: 15%;
  padding-right: 15%;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: grey;
}
tr:nth-child(even) {
  background-color: #2c2c2c;
}
th,
td {
  text-align: left;
  padding: 8px;
}
th {
  color: white;
}
/**
*footer movieflix
*/

.flix-footer {
  position: relative;
  bottom: 0;
  font-size: 15px;
  display: inline-block;
  width: 30%;
  margin: 1%;
}
.flix-footer a {
  color: dimgrey;
  text-decoration: none;
}
.flix-footer a:hover {
  color: lightgrey;
}
.foot-msg {
  text-align: center;
}
footer {
  position: relative;
  width: 100%;
  color: dimgrey;
}
.foot-msg img {
  width: 3%;
  height: 3%;
}
ul li {
  list-style: none;
  padding: 10px;
  margin-left: 20px;
}
/*
*flix-temp html page
*/

.link-status {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/cdara/movie-box/gh-pages/_images/site-status.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 100%;
}
